{{ $page := . }}
<header class="site-header pt4 pb2 mb4 bb b--transparent ph5 headroom z-max" role="banner">
  <nav class="site-nav db w-100 tc" role="navigation">
    <div class="site-links dib v-mid {{ if $.Site.Params.navallcaps }}ttu tracked{{ end }}">
      {{ range .Site.Menus.header }}
        {{ $active := or ($page.IsMenuCurrent "header" .) ($page.HasMenuCurrent "header" .) }}
        {{ $active = or $active (eq $page.Section (trim .URL "/")) }}
        {{ $active = or $active (eq $page.RelPermalink .URL ) }}
      <a class="link f6 f5-l dib pv1 ph2 {{ if $active }}active{{ end }}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      {{ end }}
      {{ if .Site.Params.socialInHeader }}
      <div class="dib v-mid">
        {{ partial "shared/social-links.html" . }}
      </div>
      {{ end }}
    </div>
  </nav>
</header>
